.homePage h1 {
  font-family: "Big Shoulders Text", sans-serif;
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 100;
  margin: 0;
}

.homePage h1 .water {
  color: var(--blue);
}

.homePage p {
  width: 50vw;
  text-align: justify;
  font-size: 0.9rem;
}

.explore {
  margin-top: 15px;
  padding: 10px 25px;
  border: 2px solid var(--blue);
  border-radius: 3px;
  background: transparent;
  font-family: "Big Shoulders Text", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--grey);
  transition: all 0.15s linear;
  cursor: pointer;
  outline: 0;
}

.explore:hover {
  background: var(--blue);
}

@media (max-width: 576px) {
  .homePage h1 {
    font-size: 4rem;
  }

  .homePage p {
    width: 75vw;
  }
}
