.homePage {

}

.homePage h1 {
  font-family: 'Big Shoulders Text', cursive;
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 100;
  margin: 0;
}

.homePage p {
  width: 50vw;
  text-align: justify;
  font-size: 0.9rem;
}